section {
    width: 100%;
    height: 650px;
    background-color: #f2f6ff;

    .sdiv {
        width: 100%;
        height: 750px;
        display: flex;
        justify-content: space-between;

        .sd1 {
            width: 47%;
            height: 500px;
            border-radius: 15px;
            position: relative;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 15px;
            }

            .sd11 {
                position: absolute;
                right: -50px;
                bottom: -30px;
                width: 200px;
                height: 200px;
                background-color: #45b3df;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 15px;

                div {
                    width: 90%;
                    height: 90%;
                    border: dashed 2px white;
                    border-radius: 15px;
                    padding: 20px;
                    color: white;

                    h2 {
                        margin-top: 20px;
                        font-size: 16px;
                    }
                }
            }
        }

        .sd2 {
            width: 47%;
            height: 500px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 20px;

            h1 {
                font-size: 50px;
            }

            p {
                font-size: 18px;
            }

            div {
                width: 125px;
                height: 40px;
                background-color: #ffc85b;
                border-radius: 50px;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 3px;
                a {
                    width: 90%;
                    height: 90%;
                    display: block;
                    border: dashed 2px white;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50px;
                    text-decoration: none;
                    color: white;
                    font-size: 16px;
                }
                &:hover{
                    background-color: #45b3df;
                }
            }
        }
    }
}